.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border: solid 1px;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border: solid 1px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border: solid 1px;
}
h1 {
  color: #326a9d;
}
li {
  padding: 5px;
  margin: 5px;
}
p {
  color: #64748b;
}
button {
  color: #326a9d;
  border-color: #326a9d;
  padding: 5px;
  border-radius: 5px;
}
